{% extends "base.html "%}


{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to Best Tech Eshop</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    </br></br>
                    <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porttitor consequat metus, a luctus felis feugiat vitae. Ut tellus est, suscipit in nibh sit amet, tincidunt vestibulum tortor. Cras ullamcorper velit at ipsum dapibus, eget suscipit nulla sagittis. Curabitur scelerisque nibh quis condimentum maximus. Curabitur volutpat lobortis luctus. Donec fermentum in lorem quis euismod. Curabitur pretium lectus non viverra ullamcorper. Suspendisse lobortis volutpat ultricies.

                    </br></br>Aliquam iaculis sodales lorem, ut mattis leo sollicitudin id. Proin ut tortor faucibus, auctor nisi at, viverra arcu. Morbi elementum laoreet est. Nunc sodales felis vitae euismod consequat. Mauris eget facilisis tortor. Vivamus tempus volutpat turpis, ac elementum purus finibus ac. Sed ligula eros, luctus a interdum vitae, accumsan a metus.
                        
                    </br></br>Proin in urna turpis. Fusce rutrum eleifend auctor. Quisque metus urna, ornare id convallis fringilla, malesuada eu nunc. Ut sagittis nisl vel orci laoreet, in porttitor magna porttitor. Vestibulum pretium, nibh id ullamcorper rutrum, mauris urna posuere nulla, vitae ornare tortor felis a odio. Nunc ac condimentum ipsum. Vivamus elementum pharetra est eget malesuada. Suspendisse tincidunt gravida malesuada. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam ut purus nec lorem interdum faucibus. Nulla volutpat mi at feugiat consequat. Praesent at massa quis arcu feugiat sodales. Donec a sapien lectus.
                    </p>
                    </br>
                </div>
            </center>
        </div>
    </div>
{% endblock %}