{% extends "base.html "%}

{% load static %}

{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Best Prices for Best Products</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Only for you!</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    
                    {% for product in products %}
                        {% if product.is_sale %}
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product sale  -->
                                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                                    <!-- Product image-->
                                    <img class="card-img-top" src="{{ product.image.url }}" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">{{ product.name }}</h5>
                                            <!-- Product reviews-->
                                            <div class="d-flex justify-content-center small text-warning mb-2">
                                                <div class="bi-star-fill"></div>
                                                <div class="bi-star-fill"></div>
                                                <div class="bi-star-fill"></div>
                                                <div class="bi-star-fill"></div>
                                                <div class="bi-star-fill"></div>
                                            </div>
                                            <!-- Product price-->
                                            <strike>
                                                {{ product.price }} zł
                                            </strike>
                                            &nbsp;
                                            {{ product.sale_price }} zł
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ product.get_absolute_url }}">Details</a></div>
                                    </div>
                                </div>
                            </div>


                        {% else %}
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">{{ product }}</h5>
                                            <div class="d-flex justify-content-center small text-warning mb-2">
                                                <div class="bi-star-fill"></div>
                                                <div class="bi-star-fill"></div>
                                                <div class="bi-star-fill"></div>
                                                <div class="bi-star-fill"></div>
                                                <div class="bi-star-fill"></div>
                                            </div>
                                            <!-- Product price-->
                                            {{ product.price }} zł     
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ product.get_absolute_url }}">Details</a></div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                
                    
              </div>
              



              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if not products.has_previous %}disabled{% endif %}">
                        <a class="page-link" {% if products.has_previous %}href="?page=1"{% endif %}>First</a>
                        
                    </li>
                    <li class="page-item {% if not products.has_previous %}disabled{% endif %}">
                        <a class="page-link" {% if products.has_previous %}href="?page={{ products.previous_page_number }}"{% endif %}>&lsaquo;</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">{{ products.number }}</a></li>
                    <li class="page-item {% if not products.has_next %}disabled{% endif %}">
                        <a class="page-link" {% if products.has_next %}href="?page={{ products.next_page_number }}"{% endif %}>&rsaquo;</a>
                    </li>
                    <li class="page-item {% if not products.has_next %}disabled{% endif %}">
                        <a class="page-link" {% if products.has_next %}href="?page={{ products.paginator.num_pages }}"{% endif %}>Last</a>
                    </li>
                </ul>
            </nav>

                
            </div>
        </section>

{% endblock %}


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>